<div class="banner">
<div class="overlay">
  <div class="banner-container">
    <h1>Cocktails</h1>
    <h2>This is a list of all cocktails</h2>
    <div class="btn-container">
    <%= link_to 'Create a cocktail', new_cocktail_path, class:"banner-btn" %>
  </div>
  </div>
</div>
</div>

<div class="card-section">
<ul>
  <% @cocktail.each do |cocktail| %>
    <li class="cocktail-card h3">
      <%if cocktail.photo.attached?%>
      <%= cl_image_tag cocktail.photo.key, height: 200, width: 300, crop: :fill %>
      <h2><%= cocktail.name %></h2>
      <p><%= cocktail.description %></p>
      <%end%>
    </li>
  <% end %>
  </ul>
</div>


