<div class="banner">
<div class="overlay">
  <div class="banner-container">
    <h1><%= @cocktail.name %></h1>
    <h2>Thanks for the new cocktail!</h2>
  </div>
  </div>
</div>
</div>

<div class="card-section">
<h2><%= @cocktail.name %></h2>

<%= link_to 'Home', cocktails_path %>
</div>
