// Specific CSS for your home-page

body {
  background-color: #9e0059;
  background-image: url('https://images.unsplash.com/photo-1570204865352-934c744d682c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


// .banner {
//   // background-color: black;
//   // background-image: url('./banner-image.jpg');
//   // -webkit-background-size: cover;
//   // -moz-background-size: cover;
//   // -o-background-size: cover;
//   // background-size: cover;
//   // display: flex;
//   // align-items: center;
//   // justify-content: center;

// }

.overlay {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;

}

.banner-container {
  text-align: center;
  color: white;
  padding: 200px 0 100px 0;
}

.main-heading {
  display: flex;
  justify-content: space-around;
  h2 {
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 15px pink;
  }

}

h1 {
  font-size: 56px;
  font-weight: bold;
  text-shadow: 0px 0px 15px pink;
}

h2 {
  text-shadow: 0px 0px 15px #000000;
}

p {
  font-size: 18px;
}

.banner-btn {
  font-size: 30px;
  color:white;
  background-color: #9e0059;
  padding: 10px 20px 10px 20px;
  border: 0px;
  border-radius: 25px;
}

.banner-btn:hover {
  text-decoration: none;
  color:#9e0059;
  font-weight:bold;
  background-color: white;
  border: 1px #9e0059 solid;
  transition: 0.7s;
}

.btn-container {
  padding-top: 20px;
}

.card-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-area {

  // background-image: url('https://images.unsplash.com/photo-1575444758702-4a6b9222336e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80');
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

.card-image {
  // position:relative;
  // filter: blur(8px);
  // -webkit-filter: blur(8px);
  // margin-top:-20px;
  // margin-left: -20px;
  
}
.cocktail-card {
  position: relative;
  // display: flex;
  // justify-content: space-around;
  height: 200px;
  // width: 100%;
  // padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 18px rgba(0,0,0,0.8);
  // width: 200px;
  overflow: hidden;
}

.img-bg {
  position: absolute;
}

.img-card-bg {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  // margin-top:-20px;
  // margin-left: -20px;
}

.img-avatar {
  border-radius: 180px;
  width: 100px;
  height: 100px;
  border: 5px solid white;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.card-container-index {
  display: flex;
  position: absolute;
  justify-content: space-between;
  padding:10px;
  top:0;
  width: 100%;
  // padding: 10px;
}

.card-left {
  width: 70%;
  padding:10px;
}
.card-right {
  width: 30%;
  padding-top: 80px;
  text-align: right;
}

.card-heading {
  color: white;
  // padding-left: 20px;
  // padding-right: 20px;
  // padding-top: 20px;

}

.card-para {
  color: white;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
  // padding-left: 20px;
  // padding-right: 20px;
  // padding-top: 60px;
}


.card-avatar {

}


.show-btn {
    font-size: 16px;
    color: white;
    background-color: #9e0059;
    padding: 10px 20px 10px 20px;
    border: 0px;
    border-radius: 10px;
    &:hover {
      font-size: 16px;
      color: white;
      background-color: #9e0059;
      padding: 10px 20px 10px 20px;
      border: 0px;
      border-radius: 10px;
      text-decoration: none;
    }
    
}

.show-btn-container {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}
